body {
  padding-top: 5rem;
}

.container {
  max-width: 960px;
}

.select {
  padding-top: 5rem;
}

.red{
  color: red;
}

/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map {
height: 60%;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
height: 100%;
padding: 40px 10px 0 10px;
}